body {text-align:center}
h1 {background-color: darkred ;color: rgb(245, 241, 241);}
li {color:darkmagenta ;background-color: gold;}
a {color: indigo;}
time {background-color: gray; color: greenyellow;}